.game{
    /* position: relative; */
    /* margin-right: 30%; */
    /* justify-Content: 'center';
    align-Items: 'center'; */
    height: '100vh';
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
    /* background-color: #00ffff; */
    width:60%;
    margin-top: 10vh;
    margin-left: 20%;
    justify-content: center;

    
}
body{
    align-items: center;
}